!!! 5
%html{ lang: "en" }
  = render "layouts/kitnic_head"
  %body.ui_charcoal.login-page.application.navless
    = render "layouts/header/kitnic"
    = render "layouts/broadcast"
    .container.navless-container
      .content
        = render "layouts/flash"
        = yield
