%html.devise-layout-html
  = render "layouts/kitnic_head"
  %body.ui_charcoal.login-page.application.navless{ data: { page: body_data_page } }
    .page-wrap
      = Gon::Base.render_data
      = render "layouts/header/kitnic"
      = render "layouts/flash"
      .signInContainer
        %div
          = yield
